export TRANSPORT_ORGANIZATION_ID=5abca8d588ee386ee6ece479
export NB_THREADS=4
export DATAGOUV_API=https://demo.data.gouv.fr/api/1
export DATAGOUV_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyIjoiNTk2YmFiMThjNzUxZGYxOWI1M2ZkNjNkIiwidGltZSI6MTU1NDczNDE1My44ODIwODV9.8uBG_xnE0dEuNy5DWwOKLSXez9m1h10ZcVFHjVg01pg
export #DATAGOUV_API=https://www.data.gouv.fr/api/1
export #DATAGOUV_API_KEY=eyJhbGciOiJIUzUxMiJ9.eyJ1c2VyIjoiNTlmMzM1Mjk4OGVlMzg3M2IxNTgzNTY2IiwidGltZSI6MTU2MjA4NDQ5My43MjY4MDF9.bAs_wRzy1qbn5MfJRVq9t0G_aAkv7u8h-Cb4NiY8NI-sb_BdoDoXmIp_Mr1_uGAhhyBAFygxDwCu0Sy4imEcng
export CONVERTER=..